<div class="show">
  <p class="show__type">Volgende uitzending</p>
  <div class="show__calendar">
    <div class="show__calendar-date">
      <span class="show__calendar-day">20</span>
      <span class="show__calendar-month">mrt</span>
    </div>
  </div>
  <div class="show__title">
    <h1>Halte: Istanbul</h1>
    <p class="show__datetime">zondag 20 maart 21:05 NPO 2</p>
  </div>
</div>
