<div class="next-show">
  <p class="next-show__type">Volgende uitzending</p>
  <div class="next-show__calendar">
    <div class="next-show__calendar-date">
      <span class="next-show__calendar-day">20</span>
      <span class="next-show__calendar-month">mrt</span>
    </div>
  </div>
  <div class="next-show__title">
    <h1>Halte: Istanbul</h1>
    <p class="next-show__datetime">zondag 20 maart 21:05 NPO 2</p>
  </div>
</div>
