<div class="results">
  <div class="results__poll-item">
    <h4>Moet Turkije wel de eindhalte zijn voor deze vluchtelingen?</h4>
    <div class="results__chart">
      <span class="results__percentage">30%</span>
      <div class="results__bar" data-percentage="30">
        <span class="results__bar-text chosen">turkije biedt deze vluchtelingen een toekomst</span>
      </div>
    </div>
    <div class="results__chart">
      <span class="results__percentage">70%</span>
      <div class="results__bar" data-percentage="70">
        <span class="results__bar-text">verspreiden over europa zou beter zijn</span>
      </div>
    </div>
  </div>
  <div class="results__poll-item">
    <h4>Moet Turkije wel de eindhalte zijn voor deze vluchtelingen?</h4>
    <div class="results__chart">
      <span class="results__percentage">77%</span>
      <div class="results__bar" data-percentage="77">
        <span class="results__bar-text ">turkije biedt deze vluchtelingen een toekomst</span>
      </div>
    </div>
    <div class="results__chart">
      <span class="results__percentage">23%</span>
      <div class="results__bar" data-percentage="23">
        <span class="results__bar-text chosen">verspreiden over europa zou beter zijn</span>
      </div>
    </div>
  </div>
  <div class="results__poll-item">
    <h4>Moet Turkije wel de eindhalte zijn voor deze vluchtelingen?</h4>
    <div class="results__chart">
      <span class="results__percentage">50%</span>
      <div class="results__bar" data-percentage="50">
        <span class="results__bar-text">turkije biedt deze vluchtelingen een toekomst</span>
      </div>
    </div>
    <div class="results__chart">
      <span class="results__percentage">50%</span>
      <div class="results__bar" data-percentage="50">
        <span class="results__bar-text chosen">verspreiden over europa zou beter zijn</span>
      </div>
    </div>
  </div>
</div>
