<form class="pre-questions" action="/polls/preshow" method="post">
  <ol class="pre-questions__list">
    <li class="pre-questions__list-item">
      <fieldset class="pre-questions__radio-set">
        <legend>Turkije houdt op dit moment de Europeze grenzen dicht voor Syrische vluchtelingen, met mensensmokkel tot gevolg. Wat is volgens u de beste oplossing?</legend>
        <input name="Question1" type="hidden" value="">
        <div class="pre-questions__radio-item">
          <input type="radio" id="Question1_0" name="Question1" value="harder optreden tegen mensensmokkelaars">
          <label for="Question1_0">harder optreden tegen mensensmokkelaars</label>
        </div>
        <div class="pre-questions__radio-item">
          <input type="radio" id="Question1_1" name="Question1" value="gooi de grenzen open">
          <label for="Question1_1">gooi de grenzen open</label>
        </div>
      </fieldset>
    </li>
    <li class="pre-questions__list-item">
      <fieldset class="pre-questions__radio-set">
        <legend>“De stroom van vluchtelingen naar Europa zal nooit ophouden.” Wat vindt u van deze stelling?</legend>
        <input name="Question2" type="hidden" value="">
        <div class="pre-questions__radio-item">
          <input type="radio" id="Question2_0" name="Question2" value="verbeter ontwikkelingshulp en gun mensen een goed leven op de plek waar ze zich thuis voelen">
          <label for="Question2_0">verbeter ontwikkelingshulp en gun mensen een goed leven op de plek waar ze zich thuis voelen</label>
        </div>
        <div class="pre-questions__radio-item">
          <input type="radio" id="Question2_1" name="Question2" value="het is onze plicht als medemens om vluchtelingen nu zo goed mogelijk op te vangen">
          <label for="Question2_1">het is onze plicht als medemens om vluchtelingen nu zo goed mogelijk op te vangen</label>
        </div>
      </fieldset>
    </li>
    <button type="submit" class="pre-questions__submit button primary">Versturen</button>
  </ol>
</form>
