<div class="prototype">
  <h4>Prototyping buttons</h4>
  <p>Use these buttons to navigate the timer.</p>
  <button class="prototype__button play">play</button>
  <button class="prototype__button pause">pause</button>
  <button class="prototype__button first">1<sup>st</sup> poll</button>
  <button class="prototype__button second">2<sup>nd</sup> poll</button>
  <button class="prototype__button third">3<sup>rd</sup> poll</button>
  <a class="prototype__button results" href="/polls/resultaten">to results</a>
</div>
