<div class="prototype">
  <h4>Prototyping buttons</h4>
  <p>Gebruik deze knoppen om de timer te verspringen en naar de volgende pagina te gaan.</p>
  <p>
    <small>Deze sectie is in het definitieve ontwerp niet aanwezig.</small>
  </p>
  <button class="button play">play</button>
  <button class="button pause">pause</button>
  <button class="button first">1<sup>st</sup> poll</button>
  <button class="button second">2<sup>nd</sup> poll</button>
  <button class="button third">3<sup>rd</sup> poll</button>
  <a class="button results" href="/polls/resultaten">to results</a>
</div>
