<div class="social">
  <h3 class="social__title">Tegenlicht elders op het web</h3>
  <div class="social__links">
    <a href="https://twitter.com/search?q=%23tegenlicht&src=typd" class="social__links-item">#tegenlicht</a>
    <a href="https://twitter.com/VPROTegenlicht" class="social__links-item">twitter</a>
    <a href="https://www.facebook.com/vprotegenlicht" class="social__links-item">facebook</a>
    <a href="https://www.youtube.com/user/VPROTegenlicht" class="social__links-item">youtube</a>
    <a href="" class="social__links-item">linkedin</a>
  </div>
</div>
