<div class="timer">
    <span class="timer__time-elapsed">0:00</span>
    <span class="timer__duration">46:33</span>

    <span class="timer__total"> </span>
    <span class="timer__elapsed"> </span>

    <p class="timer__explanation">Zodra een zwarte marker geraakt wordt verschijnt er een poll. U heeft dan 30 seconden om te antwoorden.</p>
</div>
