<% include application/head %>

  <% include modules/header %>
  <% include modules/next-show %>

  <main>
    <h2>Schijn je licht op Tegenlicht</h2>
    <p>Tegenlicht presenteert een rooskleurig toekomstbeeld. Hoe denkt u daarover? Geef uw mening tijdens de uitzending.</p>
    <p>Voordat u begint, zijn we benieuwd wat u nú van het onderwerp vindt. Beantwoord daarom enkele vragen voor de aflevering.</p>
    <a href="/voor-uitzending" class="button primary">Begin nu</a>
  </main>

<% include modules/social %>
<% include application/foot %>
