<div class="poll-item first hidden">
  <form action="/poll/submit" class="poll-questions">
    <fieldset class="poll-questions__radio-set">
      <legend>Moet Turkije wel de eindhalte zijn voor deze vluchtelingen?</legend>
      <input name="Question1" type="hidden" value="">
      <div class="poll-questions__radio-item">
        <input type="radio" id="Question1_0" name="Question1" value="turkije biedt deze vluchtelingen een toekomst">
        <label for="Question1_0">turkije biedt deze mensen een toekomst</label>
      </div>
      <div class="poll-questions__radio-item">
        <input type="radio" id="Question1_1" name="Question1" value="verspreiden over europa zou beter zijn">
        <label for="Question1_1">verspreiden over europa zou beter zijn</label>
      </div>
    </fieldset>
  </form>
  <div class="twitter hidden">
    <a href="" class="button twitter">
      <svg class="icon" width="24" height"22" viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.0803787,4.41069928 C17.4330565,4.68971747 16.7299307,4.89061056 16.0044834,4.96873566 C16.7522521,4.52230655 17.3214492,3.81918072 17.5893067,2.98212615 C16.8973416,3.39507307 16.1160906,3.69641271 15.3013575,3.8526629 C14.6428746,3.14953706 13.7053735,2.71426868 12.6674258,2.71426868 C10.6696556,2.71426868 9.0625108,4.33257418 9.0625108,6.3191837 C9.0625108,6.59820189 9.09599299,6.87722008 9.15179662,7.14507754 C6.16072163,6.98882735 3.49330774,5.56025422 1.71875205,3.37275161 C1.40625168,3.90846654 1.22768003,4.52230655 1.22768003,5.19195021 C1.22768003,6.4419517 1.86384151,7.54686373 2.83482481,8.19418593 C2.24330625,8.17186448 1.68526987,8.00445356 1.20535858,7.7365961 L1.20535858,7.78123901 C1.20535858,9.53347324 2.44419934,10.9843678 4.09598703,11.3191897 C3.79464738,11.3973147 3.47098628,11.4419577 3.14732518,11.4419577 C2.9129499,11.4419577 2.68973535,11.4196362 2.4665208,11.386154 C2.92411063,12.8147272 4.25223721,13.8526748 5.83706053,13.886157 C4.59821977,14.8571403 3.04687863,15.4263374 1.36160877,15.4263374 C1.06026912,15.4263374 0.781250931,15.4151767 0.491072014,15.3816945 C2.08705606,16.4084814 3.98437975,17 6.0267929,17 C12.6562651,17 16.2835016,11.508922 16.2835016,6.74329134 C16.2835016,6.58704116 16.2835016,6.43079097 16.2723408,6.27454079 C16.9754667,5.76114732 17.5893067,5.12498584 18.0803787,4.41069928 L18.0803787,4.41069928 Z" id=""></path>
      </svg>
       Deel deze poll op Twitter
    </a>
    <p class="twitter__explanation">Je netwerk ziet je keuze niet.</p>
  </div>
</div>

<div class="poll-item second hidden">
  <form action="/poll/submit" class="poll-questions">
    <fieldset class="poll-questions__radio-set">
      <legend>Moet Turkije wel de eindhalte zijn voor deze vluchtelingen?</legend>
      <input name="Question1" type="hidden" value="">
      <div class="poll-questions__radio-item">
        <input type="radio" id="Question1_0" name="Question1" value="turkije biedt deze vluchtelingen een toekomst">
        <label for="Question1_0">turkije biedt deze mensen een toekomst</label>
      </div>
      <div class="poll-questions__radio-item">
        <input type="radio" id="Question1_1" name="Question1" value="verspreiden over europa zou beter zijn">
        <label for="Question1_1">verspreiden over europa zou beter zijn</label>
      </div>
    </fieldset>
  </form>
  <div class="twitter hidden">
    <a href="" class="button twitter">
      <svg class="icon" width="24" height"22" viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.0803787,4.41069928 C17.4330565,4.68971747 16.7299307,4.89061056 16.0044834,4.96873566 C16.7522521,4.52230655 17.3214492,3.81918072 17.5893067,2.98212615 C16.8973416,3.39507307 16.1160906,3.69641271 15.3013575,3.8526629 C14.6428746,3.14953706 13.7053735,2.71426868 12.6674258,2.71426868 C10.6696556,2.71426868 9.0625108,4.33257418 9.0625108,6.3191837 C9.0625108,6.59820189 9.09599299,6.87722008 9.15179662,7.14507754 C6.16072163,6.98882735 3.49330774,5.56025422 1.71875205,3.37275161 C1.40625168,3.90846654 1.22768003,4.52230655 1.22768003,5.19195021 C1.22768003,6.4419517 1.86384151,7.54686373 2.83482481,8.19418593 C2.24330625,8.17186448 1.68526987,8.00445356 1.20535858,7.7365961 L1.20535858,7.78123901 C1.20535858,9.53347324 2.44419934,10.9843678 4.09598703,11.3191897 C3.79464738,11.3973147 3.47098628,11.4419577 3.14732518,11.4419577 C2.9129499,11.4419577 2.68973535,11.4196362 2.4665208,11.386154 C2.92411063,12.8147272 4.25223721,13.8526748 5.83706053,13.886157 C4.59821977,14.8571403 3.04687863,15.4263374 1.36160877,15.4263374 C1.06026912,15.4263374 0.781250931,15.4151767 0.491072014,15.3816945 C2.08705606,16.4084814 3.98437975,17 6.0267929,17 C12.6562651,17 16.2835016,11.508922 16.2835016,6.74329134 C16.2835016,6.58704116 16.2835016,6.43079097 16.2723408,6.27454079 C16.9754667,5.76114732 17.5893067,5.12498584 18.0803787,4.41069928 L18.0803787,4.41069928 Z" id=""></path>
      </svg>
       Deel deze poll op Twitter
    </a>
    <p class="twitter__explanation">Je netwerk ziet je keuze niet.</p>
  </div>
</div>

<div class="poll-item third hidden">
  <form action="/poll/submit" class="poll-questions">
    <fieldset class="poll-questions__radio-set">
      <legend>Moet Turkije wel de eindhalte zijn voor deze vluchtelingen?</legend>
      <input name="Question1" type="hidden" value="">
      <div class="poll-questions__radio-item">
        <input type="radio" id="Question1_0" name="Question1" value="turkije biedt deze vluchtelingen een toekomst">
        <label for="Question1_0">turkije biedt deze mensen een toekomst</label>
      </div>
      <div class="poll-questions__radio-item">
        <input type="radio" id="Question1_1" name="Question1" value="verspreiden over europa zou beter zijn">
        <label for="Question1_1">verspreiden over europa zou beter zijn</label>
      </div>
    </fieldset>
  </form>
  <div class="twitter hidden">
    <a href="" class="button twitter">
      <svg class="icon" width="24" height"22" viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.0803787,4.41069928 C17.4330565,4.68971747 16.7299307,4.89061056 16.0044834,4.96873566 C16.7522521,4.52230655 17.3214492,3.81918072 17.5893067,2.98212615 C16.8973416,3.39507307 16.1160906,3.69641271 15.3013575,3.8526629 C14.6428746,3.14953706 13.7053735,2.71426868 12.6674258,2.71426868 C10.6696556,2.71426868 9.0625108,4.33257418 9.0625108,6.3191837 C9.0625108,6.59820189 9.09599299,6.87722008 9.15179662,7.14507754 C6.16072163,6.98882735 3.49330774,5.56025422 1.71875205,3.37275161 C1.40625168,3.90846654 1.22768003,4.52230655 1.22768003,5.19195021 C1.22768003,6.4419517 1.86384151,7.54686373 2.83482481,8.19418593 C2.24330625,8.17186448 1.68526987,8.00445356 1.20535858,7.7365961 L1.20535858,7.78123901 C1.20535858,9.53347324 2.44419934,10.9843678 4.09598703,11.3191897 C3.79464738,11.3973147 3.47098628,11.4419577 3.14732518,11.4419577 C2.9129499,11.4419577 2.68973535,11.4196362 2.4665208,11.386154 C2.92411063,12.8147272 4.25223721,13.8526748 5.83706053,13.886157 C4.59821977,14.8571403 3.04687863,15.4263374 1.36160877,15.4263374 C1.06026912,15.4263374 0.781250931,15.4151767 0.491072014,15.3816945 C2.08705606,16.4084814 3.98437975,17 6.0267929,17 C12.6562651,17 16.2835016,11.508922 16.2835016,6.74329134 C16.2835016,6.58704116 16.2835016,6.43079097 16.2723408,6.27454079 C16.9754667,5.76114732 17.5893067,5.12498584 18.0803787,4.41069928 L18.0803787,4.41069928 Z" id=""></path>
      </svg>
       Deel deze poll op Twitter
    </a>
    <p class="twitter__explanation">Je netwerk ziet je keuze niet.</p>
  </div>
</div>
