<% include application/head %>

  <% include modules/header %>
  <% include modules/finished-show %>

  <main>
    <h2>Poll resultaten</h2>
    <p>Hier kunt u de resultaten van de polls zien.</p>
    <% include modules/poll-results %>
    <a href="/gesprek" class="button primary">Ga verder</a>
  </main>

<% include modules/social %>
<% include application/foot %>
