<% include application/head %>

  <header role="banner">
    <h1 class="banner__title"><%= title %></h1>
    <% include modules/finished-show %>
  </header>

  <main>
    <h2>Poll resultaten</h2>
    <p>Hier kunt u de resultaten van de polls zien.</p>
    <% include modules/poll-results %>
    <a href="/gesprek" class="button primary">Ga verder</a>
  </main>

  <% include modules/aside %>

<% include application/foot %>
