@import 'normalize';
@import 'bourbon';

@include font-face('Brandon Grotesque', '../../fonts/brandon_light-webfont', 300, $file-formats: woff);
@include font-face('Brandon Grotesque', '../../fonts/brandon_reg-webfont', 400, $file-formats: woff);
@include font-face('Brandon Grotesque', '../../fonts/Brandon_med', 500, $file-formats: woff);
@include font-face('Brandon Grotesque', '../../fonts/Brandon_bld', 700, $file-formats: woff);

$black: #231f20;
$white: #fff;
$orange: #f15a29;
$grey: #eee;
$darkgrey: #b1b1b1;
$twitter: #55acee;

$modular-scale: $perfect-fourth;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  justify-content: space-between;
  @include font-feature-settings('liga' ,'kern');
}

[role=banner] {
  align-items: center;
  background: #000 url('../images/header.jpg') no-repeat left top;
  background-size: contain;
  display: flex;
  flex: 0 1 100%;
  flex-flow: row wrap;
  justify-content: flex-end;

  img {
    display: block;
    margin: 0 auto;
  }
  .banner__title {
    @include hide-text;
    font: 0/0 a;
    margin: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brandon Grotesque';
  font-weight: 700;
  margin-bottom: .5em;
  margin-top: 0;
  @include font-feature-settings('liga', 'kern');
}

h1 {
  font-size: modular-scale(3);
  color: $black;
}

h2 {
  color: $black;
  font-size: modular-scale(2);
}

h3 {
  color: $orange;
  font-size: modular-scale(1);
  font-weight: 500;
}

h4 {
  color: $black;
  margin-bottom: .5em;
  margin-top: 1em;
}

p {
  line-height: 1.5;
}

a {
  color: $orange;
  @include transition(all 200ms);

  &:hover {
    color: darken($orange, 10%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.lead {
  font-family: 'Brandon Grotesque';
  font-size: modular-scale(1);
  font-weight: 500;
  margin: 1.5em 0;
  text-align: right;
  @include font-feature-settings('liga', 'kern');
}

.lead + p {
  margin-bottom: 2em;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 auto;
  justify-content: flex-start;
  max-width: 35em;
  padding: 2em 1em;

  p {
    margin-top: 0;
  }
}

.sidebar {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;

  padding: 1em;
}

@import 'modules/utility';
@import 'modules/buttons';
@import 'modules/show-info';
@import 'modules/pre-questions';
@import 'modules/timer';
@import 'modules/results';
@import 'modules/social';

@media screen and (min-width: 31.5em) {
  [role="banner"] {
    background-size: contain;
    background-position: left top;
  }
}

@media screen and (min-width: 48em) {
  [role="banner"] {
    min-height: calc(7.0875em + 3em);
  }

  main {
    flex: 1 3 auto;

    > * {
      max-width: 35rem;
    }
  }
}

@media screen and (min-width: 60em) {
  [role="banner"] {
    background-position: 5em top;
    padding-right: 1.5em;
  }

  main {
    margin-left: 5em;
  }

  .sidebar {
    padding-right: 1.5em;
  }
}

@media screen and (min-width: 65em) {
  [role="banner"],
  .sidebar {
    padding-right: 5em;
  }
}

@media screen and (min-width: 68.88em) {
  .sidebar {
    justify-content: flex-end;
  }
}
