  <script src="/javascripts/bliss.min.js"></script>
  <script src="/javascripts/min/fitvids.js" ></script>
  <script src="/javascripts/timeline.js"></script>
  <script src="/javascripts/moment.js"></script>
  <script src="/javascripts/min/client.js"></script>
</body>
</html>
