<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=blissfuljs"></script>
  </head>
  <body>
