.social {
  background: $grey;
  border-top: .5em solid $black;
  flex: 0 1 auto;
  margin: 2em 0;
  padding: 1em;
}

.social__title {
  color: $black;
  margin-bottom: .25em;
}

.social__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.social__links-item {
  color: $orange;
  font-family: 'Brandon Grotesque';
  padding-left: 1em;
  text-decoration: none;
  @include font-feature-settings('liga' ,'kern');
  @include transition(all 200ms);

  &:hover {
    color: darken($orange, 10%)
  }

  &:first-of-type {
    padding-left: 0;
  }
}
